@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.css-spd-hintergrund {
  background-color: rgb(227, 0, 15);
}

.css-fdp-hintergrund {
  background-color: rgb(255, 237, 0);
}

.css-die-gruenen-hintergrund {
  background-color: rgb(100, 161, 45);
}
